
body {
    font-family: 'Rubik', sans-serif;
    background-image: url("reka.svg");
    background-color: hsla(202, 61%, 50%, 0.363);
    background-repeat: no-repeat;
    
       
   }
   
form {
    width: 80%;

}

span {
    color: gray;
}



  .rekk {
width: 100%;
height: auto;
margin-top: -13px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
  }



h3 {
    font-weight: 900;
    font-size:large;
    
}

h4 {
    font-size: small;
    margin-left: -10px;
}



p {
    font-size: 14px;
    margin-top: -5px;
    color: gray;
    font-weight: bolder;
  
    
}

   
.gg {
    display: flex;
    justify-content: space-around;
    left: 100px;
    width: 100%;
    align-items: center;
    background-color: rgba(235, 231, 231, 0.438);
    border-radius: 13px;

}
   
   .flex {
       text-align: center;
       position: absolute;
       flex-direction: column ;
       background-color: white;
       width: 300px;
       top: 55px;
       right:43%;
       bottom: 55px;
       padding: 1px ;
       border-radius: 10px;
      align-items: center;
      align-content: center;

       
   }
   
  .inl {
border:  1px solid transparent; 
margin-right: -2px;
margin-left: 10px;
font-size: 10px;
font-weight: bolder;
color: gray;
border-radius: 5px;
  }

  .inl:hover{
    background-color: rgb(224, 224, 224);
}

   
   .blue{
       background-color: rgb(55, 0, 255);
       color: white;
       font-weight: bolder;
       border-color:rgb(55, 0, 255);
       border-radius: 5px;
       width: 90%;
       height: 30px;
       margin: 2px 15px;
   }

   .blue:hover{
        background-color: rgb(107, 64, 247);
   }
   
   .white{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
    border-color: white;
    border-radius:5px;
    width: 90%;
    margin: 3px 15px;
    height: 30px;
}


.white:hover{
    background-color: rgb(202, 198, 218);
}





header  {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    
}

